/***************************/
/* below 704px (Smaller Tablets)*/
/***************************/

@media (max-width: 44rem) {
  .grid-three-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}
/***************************/
/* below 544px (phones)*/
/***************************/

@media (max-width: 34rem) {
  .grid {
    row-gap: 4, 8rem;
  }
  .grid-two-cols,
  .grid-three-cols,
  .grid-four-cols {
    grid-template-columns: 1fr;
  }
}
