.footer {
  background-color: #646cff;
  margin-top: auto;
  text-align: center;
  padding: 2.2rem;
  /* position: sticky;
  left: 0;
  bottom: 0;
  width: 100%; */
  /* margin-top: auto; */
}
